body {
	padding: 0;
	margin: 0 auto;
	background-color: #eee9ee;
	height: 100%;
}


@font-face {
    font-family: 'Android KG'; /* Гарнитура шрифта */
    src: url(../fonts/an.ttf); /* Путь к файлу со шрифтом */
 }

@font-face {
	font-family: 'ICE'; /* Гарнитура шрифта */
    src: url(../fonts/ap.ttf); /* Путь к файлу со шрифтом */
}

a {
	text-decoration: none;
}

img {
	pointer-events: none;
}

h1 {
	text-align: center;
	font-family: 'Android KG', 'Arial';
	font-size: 24px;
	margin: 10px 0px 40px;
}

h2 {
	
	font-family: 'Android KG', 'Arial';
	font-size: 20px;
	padding-top: 5px;
	margin: 0 auto;
}

h3 {
	padding: 0;
	margin: 0 auto;
}

h4 {
	font-family: 'Сomic Sans MS';
	font-size: 18px;
	margin: 0px 28px;
}

h5 {
	font-family: 'Сomic Sans MS';
	color: #36aeea;
}

h6 {
	margin: 0;
	padding-left: 20px;
	padding-top: 60%;
	padding-bottom: 3px;
	font-family: 'Arial';
	font-size: 25px;
	color: white;
	font-weight: normal;
}

.subtext {
	font-family: sans-serif;
	font-size: 15px;
	color: #848484;
}


.tilda {
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: 'Comic Sans MS';
	color: #afacaf;
	text-align: center;
}

.tilda2 {
	padding-top: 180px;
	position: inherit;
	margin: 0 auto;
	font-family: 'Comic Sans MS';
	color: #afacaf;
}


@media (max-width: 960px) {
	.header-inner > ul {
		display: none;
	}
	.right-sidebar {
		display: none;
	}
}

@media (max-width: 1300px) {
	.about .img2 > img {
		width: 438px;
	}
}


.header {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0 auto;
	margin-bottom: -100px;
	position: absolute;
}

.header > .header-inner {
	background-color: white;
	opacity: 0.6;
	margin: 0 auto;
}

.header-inner > ul {
	max-width: 960px;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}

.header-inner > ul > li {
	display: inline-block;
}



.header-inner > ul > li > a {
	padding: 30px 20px;
	color: black;
	font-weight: bold;
	display: table-cell;
}

.header-inner > ul > li > a:hover {
	
	background: #8cf9ff;
	border-radius: 3px;
}

.wrapper {
	padding-top: 0px;
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
}

.wrapper > .content-wrapper {
	border-radius: 3px;
	min-height: calc(100vh - 80px);
	background: white;
	float: left;
	min-width: 960px; 
	
}

.content-wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.content-wrapper > section {
    background-repeat: no-repeat;
    min-width: 960px; 
}

.content-block {
	width: 100%;
	max-width: 960px; 
	margin: 0 auto;
	padding: 0;
}

.top-photo {
	position: inherit;
	background-image: url(../img/top/top-photo.jpg);
	background-size: 100% 500px;
	height: 500px;
}

.content-block > .top-border {
	border: 4px solid white;
	position: absolute;
	margin-top: 110px;
	padding: 130px 620px 130px 0px;
	float: left;
}

.top-border > p {
	margin-top: 0px;
	padding-left: 30px;
	width: 300px;
	color: #e9e9e9;
}

.top-border > img {
	margin-top: -100px;
	margin-left: 30px;
	position: absolute;
}

.men > .men1 {
	position: inherit;
	padding-top: 334px;
	margin-left: 400px;
}

.men > .men2 {
	position: absolute;
	margin-left: 472px;
	margin-top: -434px;

}

.top-photo a.button {
	position: absolute;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: #36aeea;
	padding: 18px 70px;
	outline: none;
	border-radius: 3px;
	margin: 300px 30px;
	font-size: 20px;
	font-family: 'Android KG', Arial;
}

.top-photo a.button:hover {
	background-color: #7acff9;
}

.top-photo a.button:active {
	background-color: #095175;
}


.about-block {
	margin: 0 auto;
	background-image: url(../img/about/about.jpg);
	background-size: 100% 500px;
	height: 500px;
}


.about > p {
	width: 350px;
	position: absolute;
}

.about .text {
	font-family: sans-serif;
	color: #5a5a5a;
	font-size: 15px;
}

.about > a.button {
	position: absolute;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: #36aeea;
	padding: .7em 2.5em;
	outline: none;
	border-radius: 3px;
	margin: 150px 0px;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
}

.about a.button:hover {
	background-color: #7acff9;
}

.about a.button:active {
	background-color: #095175;
}

.about > .img1 > img {
	height: 290px;
	width: 270px;
	margin: -60px 0 0px 400px;
	position: absolute;
}

.about > .img2 > img {
	height: 450px;
	
	margin: -260px 0px 0px 520px;
	position: inherit;
}

.our-journal {
	height: 650px;
	margin-bottom: 100px;

}

.jr-menu {
	margin-left: 30px;

}

.jr-menu  > * {
	float: left;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	background-position: center;
}

p .text {
	margin: 0 20px;
	color: white;
	text-align: center;
}

.jr-menu > .m2, .m4, .m6 {
	text-align: center;
}

.jr-menu > .m1, .m3, .m5 {
	opacity: 0.5;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	cursor: pointer
}

.jr-menu > .m1:hover {
	opacity: 1;
	border-radius: 120px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.jr-menu > .m3:hover {
	opacity: 1;
	border-radius: 120px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.jr-menu > .m5:hover {
	opacity: 1;
	border-radius: 120px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.inner {
	padding:  0px 30px;
}

.inner > p {
	color: #878787;
}

.inner > .number {
	color: black;
	font-weight: bold;
}


.jr-menu > .m1 {
	background-image: url(../img/jr-menu/1.jpg);
}

.jr-menu > .m3 {
	background-image: url(../img/jr-menu/3.jpg);
}

.jr-menu > .m5 {
	background-image: url(../img/jr-menu/5.jpg);
}



.our-journal > .content-block  > img{
	width: 800px;
}

.search-block {
	background-image: url(../img/search-block.jpg);
	background-size: 100% 500px;
	height: 500px;
}

.search-block .text {
	width: 600px;
}



.search-block a.button {
	position: absolute;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: #36aeea;
	padding: 12px 18px;
	outline: none;
	border-radius: 3px;
	margin: 0px 2px;
	font-size: 17px;
}

.search-block a.button:hover {
	background-color: #7acff9;
}

.search-block a.button:active {
	background-color: #095175;
}

.form {
	background: white;
	width: 750px;
	margin-top: 30px;
}

.search-block input[type="submit"] {
	position: absolute;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: #36aeea;
	padding: 12px 18px;
	outline: none;
	margin: 0px 2px;
	font-size: 17px;
	border-radius: 5px;
	border: none;
}

.search-block input[type="submit"]:hover {
	background-color: #7acff9;
}

.search-block input[type="submit"]:active {
	background-color: #095175;
}


.search-block input[type="texts"] {
	color: #3d3d3d;
	font-family: 'Comic Sans MS';
	font-weight: bold;
	margin-left: 0 px;
	padding: 15px 120px 15px 18px;
    border: 0 solid black;
    border-radius: 4px;
}

.search-form * {
	float: left;
}

.info  {
	position: absolute;
	margin-top: 50px;
	color: #36aeea;
	width: 300px;
}

.info > img {
	float: left;
	padding-top: 15px;
	padding-right: 10px;
	width: 16px;
	height: 16px;
}

.tilda3 {
	font-family: 'Comic Sans MS';
	color: #afacaf;
	padding-top: 50px;
}

.how-we-work {
	height: 500px;
}

.how-we-work > .content-block {
}

.hw-menu > *{
	float: left;
}

.hw-menu > .hw2, .hw3, .hw4 {
	margin-left: 63px;
}

.hw1 {
	background-image: url(../img/how-work/1.png);
	height: 173px;
	width: 173px;
	margin-left: 40px;
}

.hw2 {
	background-image: url(../img/how-work/2.png);
	height: 173px;
	width: 173px;
}

.hw3 {
	background-image: url(../img/how-work/3.png);
	height: 173px;
	width: 173px;
}

.hw4 {
	background-image: url(../img/how-work/4.png);
	height: 173px;
	width: 173px;
}

.hw-menu .text {
	margin-top: 5px;
	color: #848484;
	font-size: 15px;
	font-family: Arial;
}
.hw-menu {
	text-align: center;
}

.hw-menu > .txt2, .txt3, .txt4 {
	width: 210px;
	margin-top: 30px;
	margin-left: 30px;
}

.txt1 {
	width: 210px;
	margin-top: 30px;
	margin-left: 20px;
}

.hw-head {
	margin-top: -20px;
	margin-left: 30px;
}

.hw-head img {
	width: 100%;
}


.travel {
	background-image: url(../img/travel/travel-block.jpg);
	background-size: 100% 900px;
	height: 900px;
}

.bars > .bar1, .bar2, .bar3, .bar4, .bar5 {
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	float: left;
	margin-top: 130px;
	width: 172px;
	height: 350px;
	border-radius: 8px;
	background-position: top;
	opacity: 0.8;
}

.bars *:hover {
	opacity: 1;
}

.bars > .bar2, .bar3, .bar4, .bar5 {
	margin-left: 25px;
}

.bar1 {
	background-image: url(../img/travel/bar1.jpg);
}

.bar2 {
	background-image: url(../img/travel/bar2.jpg);
}
.bar3 {
	background-image: url(../img/travel/bar3.jpg);
}

.bar4 {
	background-image: url(../img/travel/bar4.jpg);
}

.bar5 {
	background-image: url(../img/travel/bar5.jpg);
}

.bars .middle p {
	color: white;
	padding-left: 20px;

}

.bars .bottom p {
	float: left;
}

.bars .bottom .old-price {
	color: #e5e5e5;
	text-decoration: line-through;
	font-size: 22px;
	margin: 17px 0px;
	padding-left: 10px; 
}

.bars .bottom .new-price {
	color: white;
	font-weight: bold;
	font-size: 30px;
	margin: 10px 0px;
	padding-left: 20px; 
}

.bars .top {
	padding-left: 50px;
	color: white;
	background-color: black;
	opacity: 0.6;
	height: 7%;
	border-radius: 2px;
}

.bars .top:hover {
	opacity: 1;
}

.bars .middle {
	height: 78%;
}

.bars .bottom {
	height: 15%;
	background-color: black;
	opacity: 0.6;
	border-radius: 3px;
}

.bars .bottom:hover {
	opacity: 1;
}

.gallery {
	height: 800px;
}

.gl-block > .gl-left, .gl-middle, .gl-right {
	float: left;
}

.gl-block * {
	position: relative;
	border-radius: 3px;
}

.gl-left {
	width: 30%;
}

.gl-middle {
	width: 35%;
}

.gl-right {
	width: 35%;
}

.gl-left .img1 {
	background-image: url(../img/gallery/1.jpg);
	height: 350px;
	background-position: center;
	background-size: 180% 350px;
	margin-bottom: 30px;
	margin-right: 30px;

}
.gl-left .img2 {
	background-image: url(../img/gallery/2.jpg);
	height: 250px;
	background-position: center;
	background-size: 180% 250px;
	margin-right: 30px;
}

.gl-middle .img1 {
	background-image: url(../img/gallery/3.jpg);
	height: 220px;
	background-position: center;
	background-size: 180% 220px;
	margin-bottom: 30px;
	margin-right: 30px;

}
.gl-middle .img2 {
	background-image: url(../img/gallery/4.jpg);
	height: 380px;
	background-position: center;
	background-size: 180% 380px;
	margin-right: 30px;
}

.gl-right .img1 {
	background-image: url(../img/gallery/5.jpg);
	height: 300px;
	background-position: center;
	background-size: 180% 300px;
	margin-bottom: 30px;
	margin-right: 30px;
}
.gl-right .img2 {
	background-image: url(../img/gallery/6.jpg);
	height: 300px;
	background-position: center;
	background-size: 180% 300px;
	margin-right: 30px;
}

.partners > ul > li {
	float: left;
	margin: 100px 25px;
	display: inline-block;
	opacity: 0.3;
}

.partners > ul > li > a {
	float: left;
	display: table-cell;
}


.partners > ul > li:hover {
	opacity: 1;
}

.partners > ul > li:active {
	opacity: 0.1;
}

.contacts {
	background-image: url(../img/contacts/contact-block.jpg);
	background-size: 100% 1200px;
	height: 1200px;
}

.contacts .tilda {
	margin-top: 0px;
}

.contacts-h {
	margin: 0px;
	padding: 0px;
}

.comments {
	position: relative;
	margin-top: 40px;
}

.comments .block1, .block2 {
	background: white;
	padding: 24px;
	padding-bottom: 0px;
	border-radius: 10px;
	float: left;
	width: 43%;
}

.comments .block1 {
	margin-right: 2%;
}

.comments .block2 {
	margin-left: 2%;
}

.comments .text {
	color: #777777;
	font-family: 'Comic Sans MS';
	font-size: 15px;
}

.comments .lower > ul { 
	list-style-type: none;
	display: inline-block;
}

.comments .lower > ul >li { 
	float: left;
	display: table-row;
}

.comments .name {
	margin-left: 20px;
	padding: 0px;
	font-family: 'ICE', 'Arial';
	font-size: 25px;
	color: #34afe8;
}

.comments .prof {
	margin: 0px;
	margin-top: 4px;
	margin-left: -15px;
	padding: 0px;
	font-family: 'Arial';
	font-size: 15px;
	color: #7bcaf2;
}

.comments .contact-avatar1 {
	background: url(../img/contacts/avatar1.png) no-repeat;	
	width: 64px;
	height: 64px;
	display: block;
	background-size: 64px;
	background-position: center;
	margin-top: -20px;
	margin-left: -40px;
	position: relative;
}

.comments .contact-avatar2 {
	background: url(../img/contacts/avatar2.png) no-repeat;	
	width: 64px;
	height: 64px;
	display: block;
	background-size: 64px;
	background-position: center;
	margin-top: -20px;
	margin-left: -40px;
	position: relative;
}

.contacts .sign-up {
	background: url(../img/contacts/sign-up.jpg) no-repeat;
	position: absolute;
	border-radius: 3px;
	opacity: 0.8;
	margin-top: 350px;
	margin-left: 300px;
	width: 400px;
	height: 380px;
}

.contacts .sign-up:hover {
	opacity: 1;
}

.contacts input[type="text"] {
	font-family: 'Comic Sans MS';
	font-weight: bold;
	color: #3d3d3d;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 15px;
	padding: 15px 100px 15px 18px;
    border: 0 solid black;
    border-radius: 4px;
}

.contacts input[type="submit"] {
	/*color: #099ffe;*/
	color: #fff;
	background: #0068ab;
	text-decoration: none;
	user-select: none;
	padding: 12px 154px;
	outline: none;
	margin: 15px 20px;
	font-size: 18px;
	border-radius: 4px;
	border: none;
	font-family: 'Arial';
	font-weight: bold;
}

.contacts input[type="submit"]:hover {
	background-color: #02588f;
}

.contacts input[type="submit"]:active {
	background-color: #002740;
}

.contacts .h-sign {
	margin-top: 15px;
	color: #fff;
	font-family: 'Android KG', 'Arial';
	text-align: center;
}

.contacts .text2 {
	color: #e2f1fb;
	font-family: 'Comic Sans MS';
	text-align: center;
	padding: 0px;
	margin-top: 0;
}

.footer {
	margin-top: -50px;
	float: left;
	width: 100%;
	background-color: #152c4b;
	color: #bcd9ff;
	text-align: center;
	opacity: 0.8;
}

.footer .left {
	margin-top: 15px;
	width: 25%;
	float: left;
}

.footer p {
	margin: 0;
}

.footer .main {
	margin-left: -50px;
	width: 50%;
	float: left;
}

.footer .right {
	margin-top: 15px;
	width: 25%;
	float: left;
}

.main > ul > li {
	display: inline-block;
	margin-left: 40px;
	opacity: 0.4;
}

.main > ul > li:hover {
	opacity: 1;
}

.main > ul > li:active {
	opacity: 0.1;
}

.main > ul > li > a {
	position: absolute;
	display: inline-block;
	margin-top: -25px;
}

.footer .content-block {
	margin: 0 auto;
	padding: 0;
}
